In [ ]:
age=25
print(age)

25

In [ ]:
age=40
age10=15
#cann't start with number
10age=25

SyntaxError: ignored

In [ ]:
_age=35

In [ ]:
#keywords
for=50

In [ ]:
# we are adding two numbers below :
# This is session -2 of Python
23+8

31

In [ ]:
''' This is multiline comments example
This is the second line of our comment
This is thrid line of our comment '''

""" This is an example of
anothe way of multiline comments """

In [ ]:
age=21
name = "Raj"
college = "TCR"

print(age)
print(name)
print(college)

21
Raj
TCR

In [ ]:
# Assigning multiple values to multple variables
a,b,c = 78, "Raj", 12.50

print(a)
print(b)
print(c)

78
Raj
12.5

In [ ]:
#print() : to dispaly output

In [ ]:
# input () : to take input from user


rollno = input("Enter your rollno")
print("I know your rollno ", rollno)

Enter your rollno1010
I know your rollno  1010

In [ ]:
# type() : return data type 
print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'str'>
<class 'float'>

**type-casting : convert data type**

In [ ]:
#str () : to convert from int to string type
x= 10
type(x)

type(str(x))

str

In [ ]:
x= "20"
type(x)
type(int(x))

int

In [ ]:
# addition of two numbers
first =int(input("Enter first number"))
second = int(input("Enter second number"))

sum =first + second
print("Sum of two numbers", sum)

Enter first number10
Enter second number20
Sum of two numbers 30

In [ ]:
# take 3 subjects marks and calculate total and average

maths = int (input("Enter your maths marks"))
Physics =  int (input("Enter your physics marks"))
Chem =  int (input("Enter your chem marks"))
Total = maths + Physics + Chem 
Avg = Total /3
print("The total marks is ", Total)
print(" The average is " , Avg)

Enter your maths marks58
Enter your physics marks45
Enter your chem marks73
The total marks is  176
 The average is  58.666666666666664

In [ ]:
# swapping two numbers ( interchange values)

num1 = int(input("Please enter first number"))
num2 = int(input("Please enter second number"))

temp =num1

num1 = num2
num2= temp

print("After swapping ")

print("num1", num1)
print("num2", num2)

Please enter first number10
Please enter second number20
After swapping
num1 20
num2 10

In [ ]:
# calculate area of rectangle

length = float(input("Enter length of rectangle"))
breath = float(input("Enter breath of rectangle "))

area = length * breath 
print("Area of Rectangle ", area)

Enter length of rectangle20
Enter breath of rectangle 15
Area of Rectangle  300

In [18]:
#calculate area of circle
PI=3.14
Radius = float (input ("Please enter the radius of the given circle: "))  
area_of_the_circle = PI* Radius * Radius  
print (" The area of the given circle is: ", area_of_the_circle)

Please enter the radius of the given circle: 5
 The area of the given circle is:  78.5