# Arthmetic operators

In [2]:
x=10
y=3

print("x + y", x+y)
print("x - y", x-y)
print("x * y", x*y)
print("x / y", x/y)
print("x % y", x%y)

x + y 13
x - y 7
x * y 30
x / y 3.3333333333333335
x % y 1

In [4]:
# comparison operators
x=10
y=20

print("x > y", x > y)
print("x < y", x < y)
print("x == y", x == y)
print("x != y", x != y)

x > y False
x < y True
x == y False
x != y True

In [7]:
'''
Logical operators
and operator

'''
x=10
y=20

print(x==10 and x < y)

True

In [10]:
'''
or operator

'''
x=10
y=20

print(x==110 or x < y)

True

In [12]:
# not operator
print(x!=10)


print(not x==10)

False
False

In [16]:
#Assignment operators

x=10
print(x)


x+=5
print(x)

10
15

In [17]:
# String formatting

x=10
y=20

print(" {0} +  {1}  =   {2}".format(x,y,x*y))

10 + 20  = 200

In [18]:
# python easy string formatting

age=25
Name = "Raj"

print(f"Your name is {Name} and your age is {age}")

Your name is Raj and your age is 25

In [19]:
#if statement

num=10

if num>0:
  print("number is positive")

number is positive

In [20]:
num = int(input("please Enter value"))

if num > 0 :
  print(num, " is a positive number")

please Enter value40
40  is a positive number

In [21]:
num = int(input("please Enter value"))

if num > 0 :
  print(num, " is a positive number")
  print("this line also execute")
  print("more lines are going to execute")
else:
  print("number is not positive")
  print("this is another lines")

print("end of program")

please Enter value-5
number is not positive
his is another lines
end of program

In [23]:
#odd or even

num = int(input("enter the value"))

if num%2==0:
  print(num, " is even")
else:
  print(num, " is odd")

enter the value4
4  is even

In [25]:
#login program with if condition
# logical operators

user = input ("please enter username")
password = input ("please enter password")


if user =="admin" and password =="123":
  print("login successfully")
else:
  print("invalid username/password")

please enter usernamestudent
please enter password
invalid username/password

In [28]:
#if..elif..else statement


num = int(input("enter the number"))
if num >0 :
  print("positive number")
elif num==0:
  print("number is zero")
else:
  print("negative number")

enter the number0
number is zero

In [33]:
'''
Write a program to dispaly grade

marks       grade
>85       A
>60       B+
>40       B
>30       C
otherwise fail
'''
marks = int(input("Enter marks"))
if marks > 85 and marks <=100:
  print("congrates ....!!! you scored grade A")
elif marks > 60 and marks <=85:
   print("congrates ....!!! you scored grade B+")
elif marks > 40 and marks <=60:
   print("congrates ....!!! you scored grade B")
elif marks > 30 and marks <=40:
   print("congrates ....!!! you scored grade C")
else:
  print("sorry you are fail ....!!!")

Enter marks20
sorry you are fail ....!!!

In [34]:
'''calculate total marks, percentage and grade of a student

Name
5 subjects marks
calculate total and average
show grade 

'''

name = input("enter your name ")
soc = int(input("enter  soc sub marks"))
phy = int(input("enter  phy sub marks"))
chem = int(input("enter  chem sub marks"))
eng = int(input("enter  eng sub marks"))
math = int(input("enter math sub marks"))
total = soc + phy + chem + eng + math
print(total)
avg = total/5
print(avg)
if avg>85:
  print("A")
elif avg>70:
  print("B")
elif avg>60:
  print("B+")
elif avg>50:
  print("c")
else:
  print("failed")

enter your name Raj
enter  soc sub marks56
enter  phy sub marks89
enter  chem sub marks45
enter  eng sub marks56
enter math sub marks68
314
62.8
B+